

<div class="inmodal">
    <div class="modal-header">
        <h2 style="margin-top: 10px;"> Edit</h2>
    </div>
    <div class="modal-body" style="padding:0px;">
        <div>
            <div class="col-md-12" style="margin-top:10px;padding:0px;">                                        
                <textarea>
                    {{stringJson}}
                </textarea>
            </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="closeProductModal()">Close</button>
        <button type="button" id="btn-generate-output" class="btn btn-primary" ng-click="addProduct()">Add</button>
    </div>
</div>